In [3]:
############################################################################################################
## 1. 패키지 import
############################################################################################################
import pandas as pd
import sqlite3
import os, sys
from datetime import datetime, timedelta
import time
from dateutil.relativedelta import relativedelta

# 사용 예시
from module.logger import log_message
import module.sqlTransaction as sqlT
import importlib
importlib.reload(sqlT)

############################################################################################################
## 2. 초기설정
############################################################################################################
# 경로설정
dir_work   = f'c:/Users/user/OneDrive - 파인트리파트너스(주)/movie'
dir_func   = f'{dir_work}/src/module'
dir_data   = f'{dir_work}/data'

# DB연결
conn = sqlite3.connect(f"{dir_data}/pine_movie.db", isolation_level=None)
cur = conn.cursor()

# 함수 호출
# exec(open(f"{dir_func}/sqlTransaction.py"      , encoding= 'utf-8').read() )
# exec(open(f"{dir_func}/logger.py"              , encoding= 'utf-8').read() )

############################################################################################################
## 3. 파라미터 추출
############################################################################################################
# 입력 파라미터 추출
try :
    bas_ym = sys.argv[1]
    if not bas_ym.isdigit() : raise
except:
    bas_ym = '201207'
    
list_bas_ym = [datetime.strftime(datetime.strptime(bas_ym, '%Y%m') - relativedelta(months = (i) ), '%Y%m') for i in range(4)]

### 타겟마트 DDL

In [5]:
cur.execute("""drop table if exists TARGET_MART""")
cur.execute("""
CREATE TABLE IF NOT EXISTS TARGET_MART (
      기준년월
    , 회원번호
    , 드라마_타겟
    , 코미디_타겟
    , 스릴러_타겟
    , 로맨스_타겟
    , 공포_타겟
    , 액션_타겟
    , 공상과학_타겟
    , 범죄_타겟
    , 판타지_타겟
    , 가족_타겟
    , 모험_타겟
    , 전쟁_타겟
    , 음악_타겟
    , 뮤지컬_타겟
    , 전기_타겟
    , 스포츠_타겟
    , 서부극_타겟
    , 애니메이션_타겟
    , 다큐멘터리_타겟
    , 미스테리_타겟
    , 단막극_타겟
    , 역사_타겟
    , PRIMARY KEY(기준년월, 회원번호)
)
""")

In [6]:
for i, x_bas_ym in enumerate(list_bas_ym) :
    st_tm = str(datetime.now()).split(' ')[1].split('.')[0]
    bas_ym_aft_1m = datetime.strftime(datetime.strptime(x_bas_ym, '%Y%m') + relativedelta(months = 1 ), '%Y%m')
    print(f'[LOG] 타겟마트 적재 | 기준년월 = {x_bas_ym} | 순서 = {i}/{len(list_bas_ym)-1}, 시작시간 = {st_tm}')
    
    cur.execute(f"""
    INSERT INTO TARGET_MART
    SELECT 
          {x_bas_ym}                                                                               AS 기준년월
        , 회원번호
        , MAX(CASE WHEN 장르번호 = 3             AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 드라마_타겟
        , MAX(CASE WHEN 장르번호 = 6             AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 코미디_타겟
        , MAX(CASE WHEN 장르번호 = 9             AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 스릴러_타겟
        , MAX(CASE WHEN 장르번호 = 15            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 로맨스_타겟
        , MAX(CASE WHEN 장르번호 = 17            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 공포_타겟
        , MAX(CASE WHEN 장르번호 = 7             AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 액션_타겟
        , MAX(CASE WHEN 장르번호 = 45            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 공상과학_타겟
        , MAX(CASE WHEN 장르번호 = 8             AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 범죄_타겟
        , MAX(CASE WHEN 장르번호 = 12            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 판타지_타겟
        , MAX(CASE WHEN 장르번호 = 14            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 가족_타겟
        , MAX(CASE WHEN 장르번호 = 11            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 모험_타겟
        , MAX(CASE WHEN 장르번호 = 18            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 전쟁_타겟
        , MAX(CASE WHEN 장르번호 = 16            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 음악_타겟
        , MAX(CASE WHEN 장르번호 = 25            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 뮤지컬_타겟
        , MAX(CASE WHEN 장르번호 IN (46, 53)     AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 전기_타겟
        , MAX(CASE WHEN 장르번호 = 30            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 스포츠_타겟
        , MAX(CASE WHEN 장르번호 = 19            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 서부극_타겟
        , MAX(CASE WHEN 장르번호 = 2             AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 애니메이션_타겟
        , MAX(CASE WHEN 장르번호 = 10            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 다큐멘터리_타겟
        , MAX(CASE WHEN 장르번호 = 20            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 미스테리_타겟
        , MAX(CASE WHEN 장르번호 = 24            AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 단막극_타겟
        , MAX(CASE WHEN 장르번호 = 1             AND 타겟여부 = 1 THEN 1  ELSE 0 END)               AS 역사_타겟                
    FROM (
        SELECT
              회원번호
            , 장르번호
            , CASE WHEN 구매여부 || 시작여부 || 완료여부 || 평점여부 <> '0000' THEN 1 ELSE 0 END    AS 타겟여부
        FROM (
            SELECT
                  c01.회원번호
                , c02.장르번호
                , MAX(CASE WHEN c01.행동번호 = 5   THEN 1        ELSE 0 END)                        AS 탐색여부
                , MAX(CASE WHEN c01.행동번호 = 11  THEN 1        ELSE 0 END)                        AS 구매여부
                , MAX(CASE WHEN c01.행동번호 = 4   THEN 1        ELSE 0 END)                        AS 시작여부
                , MAX(CASE WHEN c01.행동번호 = 2   THEN 1        ELSE 0 END)                        AS 완료여부
                , MAX(CASE WHEN c01.행동번호 = 1   THEN 1        ELSE 0 END)                        AS 평점여부
            FROM MOVIE_FACT c01
            
            ----------------------------------------------------------------
            -- 장르 매핑
            ----------------------------------------------------------------
            LEFT JOIN (
                SELECT
                      영화번호
                    , 장르번호
                FROM MOVIE_GENRE

                --------------------------------------------
                -- 중복 장르 번호 제거
                --------------------------------------------
                EXCEPT
                SELECT
                      b01.영화번호
                    , b02.장르번호
                FROM MOVIE b01

                LEFT JOIN MOVIE_GENRE b02 -- 영화 장르 매핑
                ON b01.영화번호 = b02.영화번호

                LEFT JOIN GENRE b03 -- 장르명 매핑
                ON b02.장르번호 = b03.장르번호

                GROUP BY
                      b01.영화번호
                    , b03.장르명
                HAVING COUNT(1) > 1  -- 중복 존재 장르번호 추출
            ) c02
            ON c01.영화번호 = c02.영화번호
            
            WHERE c01.기준년월 = {bas_ym_aft_1m}
            
            GROUP BY 
                  c01.회원번호
                , c02.장르번호
        ) 
    )
    GROUP BY 회원번호

""")

ed_tm = str(datetime.now()).split(' ')[1].split('.')[0]
el_tm = datetime.strptime(ed_tm, '%H:%M:%S') - datetime.strptime(st_tm, '%H:%M:%S')
el_tm = str(el_tm).split('.')[0].zfill(8)
print(f'[LOG] 타겟마트 적재 | 기준년월 = {x_bas_ym} | 순서 = {i}/{len(list_bas_ym)-1}, 종료시간 = {ed_tm}, 소요시간 = {el_tm}')
print(f"[LOG] -----------------------------------------------------------------------------------------------------------")

[LOG] 타겟마트 적재 | 기준년월 = 201207 | 순서 = 0/3, 시작시간 = 21:29:50
[LOG] 타겟마트 적재 | 기준년월 = 201206 | 순서 = 1/3, 시작시간 = 21:30:03
[LOG] 타겟마트 적재 | 기준년월 = 201205 | 순서 = 2/3, 시작시간 = 21:30:16
[LOG] 타겟마트 적재 | 기준년월 = 201204 | 순서 = 3/3, 시작시간 = 21:30:28
[LOG] 타겟마트 적재 | 기준년월 = 201204 | 순서 = 3/3, 종료시간 = 21:30:42, 소요시간 = 00:00:14
[LOG] -----------------------------------------------------------------------------------------------------------

In [6]:
pd.read_sql(f""" 
   select * from TARGET_MART
""", conn).dtypes

기준년월        int64
회원번호        int64
드라마_타겟      int64
코미디_타겟      int64
스릴러_타겟      int64
로맨스_타겟      int64
공포_타겟       int64
액션_타겟       int64
공상과학_타겟     int64
범죄_타겟       int64
판타지_타겟      int64
가족_타겟       int64
모험_타겟       int64
전쟁_타겟       int64
음악_타겟       int64
뮤지컬_타겟      int64
전기_타겟       int64
스포츠_타겟      int64
서부극_타겟      int64
애니메이션_타겟    int64
다큐멘터리_타겟    int64
미스테리_타겟     int64
단막극_타겟      int64
역사_타겟       int64
dtype: object